<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
</head>
<body>
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active"  href="/">
                <i class="bi bi-currency-dollar"></i>
                Currency Converter
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/fluctuate">
                <i class="bi bi-graph-up"></i>
                Currency Rate Fluctuate
              </a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="conversion-panel">
                    <div class="panel-heading">
                        <h2 class="text-center mb-4">Currency Converter</h2>
                    </div>
                    <div class="text-center mb-4" id="currencyInfo">
                        <!-- The dynamic currency conversion info will be displayed here -->
                        Select currencies to see the conversion rate.
                    </div>
                    <div class="panel-body">
                        <form id="currencyForm">
                            <div class="mb-3">
                                <label for="amount" class="form-label">Amount:</label>
                                <input type="number" class="form-control" id="amount" value="1">
                            </div>
                            <div class="mb-3">
                                <label for="fromCurrency" class="form-label">From:</label>
                                <select class="form-select" id="fromCurrency">
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="toCurrency" class="form-label">To:</label>
                                <select class="form-select" id="toCurrency">
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="result" class="form-label">Result:</label>
                                <input type="text" class="form-control" id="result" readonly>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Convert</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/js/homepage.js"></script> 
    <script>
        document.getElementById('currencyForm').addEventListener('submit', convertCurrency);
        document.addEventListener('DOMContentLoaded', (event) => {
            fetchCurrenciesAndUpdateConvertPage();
        });
    </script>
</body>
</html>
